<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">mail_outline</i>
        <input id="email" type="email" class="validate" />
        <label for="email">Email</label>
        <span class="helper-text" data-error="Email inválido!"></span>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">vpn_key</i>
        <input id="password" [type]="TipoCampo" class="validate" />
        <i class="material-icons prefix eye" (click)="alternaTipo()">{{ eye }}</i>
        <label for="password">Senha</label>
      </div>
      <button class="btn waves-effect waves-light deep-purple accent-4" type="submit" name="action">
        Entrar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
