img.logo {
  width: 7.5rem;
  display: block;
  margin: 3rem auto 0;
  user-select: none;
}

.row {
  margin-top: 3rem;
  text-align: center;
  width: 85%;
  margin-left: 7.5%;
}

.row > .input-field {
  left: -2%;
}

.row > button {
  width: 10rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

.material-icons {
  user-select: none;
}

.eye {
  right: 0;
  cursor: pointer;
}

.esqueci-senha {
  text-align: center;
  margin-top: 2.5rem;
  cursor: pointer;
}

div.mais {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.seta {
  width: 3rem;
}

.seta-esq {
  transform: scale(-1);
  margin-right: 2rem;
}

.seta-dir {
  transform: scaleY(-1);
}

.cadastro {
  width: 7rem;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.sobre {
  width: 7rem;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  /* position: absolute;
  right: 1rem;
  bottom: 2rem; */
}

@media only screen and (min-width: 700px) {
  .row {
    margin-left: 22.5%;
    width: 55%;
  }
}

@media only screen and (min-width: 1000px) {
  .row {
    margin-left: 32.5%;
    width: 35%;
  }
}
