<img class="logo" src="assets/logo.png" alt="Logo App GTU" />

<div class="conteudo">
  <h1 class="titulo">Sobre o App GTU</h1>
  <div class="texto">
    <p>
      O App GTU é uma aplicação WEB criada por nós, alunos do Centro Universitário de Jaguariúna (UniFaj) como um trabalho de conclusão de curso, que tem como principal objetivo facilitar o gerenciamento do transporte universitário.
    </p>
    <p>
      Alunos responsáveis pelo desenvolvimento desse projeto:
    </p>
    <p>
      Guilherme Marques Caneiro, Leonardo Luiz Catini e Vinicius de Cassio Souza, orientados pelo professor Claiton Luis Perin.
    </p>
    <p>
      O App tem como principais funções o cálculo da melhor rota, uma lista de
      presença para auxiliar o motorista no dia a dia, e um gerenciamento das mensalidade dos alunos, além de contar com um chat em tempo real.
    </p>
  </div>
</div>

<button class="btn waves-effect waves-light deep-purple accent-4" routerLink="/contato">
  Contato
  <i class="material-icons right">phone</i>
</button>

<button
  class="btn baixo waves-effect waves-light deep-purple accent-4"
  routerLink="/agradecimentos"
>
  Agradecimentos
  <i class="material-icons right">assistant</i>
</button>
