<img class="logo" src="assets/logo.png" alt="Logo App GTU" />

<div class="conteudo">
  <h1 class="titulo">Agradecimentos</h1>
  <div class="texto">
    <p>
      Primeiramente agradecemos a Deus por tornar tudo isso possível.
    </p>
    <p>
      Agradecemos ao nosso professor e orientador Claiton Luis Perin por aceitar e conduzir o nosso projeto de TCC.
    </p>
    <p>
      A todos os nossos professores do curso de Ciência da Computação do Centro Universitário de Jaguariúna pela excelência da qualidade técnica de cada um.
    </p>
    <p>
      E por fim aos nossos parentes e amigos que sempre estiveram ao nosso lado nos apoiando ao longo de toda essa trajetória.
    </p>
  </div>
</div>

<button class="btn waves-effect waves-light deep-purple accent-4" routerLink="/contato">
  Contato
  <i class="material-icons right">phone</i>
</button>

<button class="btn baixo waves-effect waves-light deep-purple accent-4" routerLink="/login">
  Tela de Login
  <i class="material-icons right">login</i>
</button>
