<img class="logo" src="assets/logo.png" alt="Logo App GTU" />

<div class="conteudo">
  <h1 class="titulo">Agradecimentos</h1>
  <div class="texto">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Nunc consequat interdum varius sit amet mattis.
    </p>
    <p>
      Sit amet mauris commodo quis imperdiet. Tristique senectus et netus et malesuada fames.
      Dignissim enim sit amet venenatis urna cursus eget.
    </p>
    <p>
      Dui sapien eget mi proin sed libero. Sit amet consectetur adipiscing elit pellentesque
      habitant. Semper quis lectus nulla at volutpat diam ut. Tellus orci ac auctor augue mauris
      augue neque gravida.
    </p>
  </div>
</div>

<button class="btn waves-effect waves-light deep-purple accent-4" routerLink="/contato">
  Contato
  <i class="material-icons right">phone</i>
</button>

<button class="btn baixo waves-effect waves-light deep-purple accent-4" routerLink="/login">
  Tela de Login
  <i class="material-icons right">login</i>
</button>
