.arrow-back {
  margin-left: 1rem;
}

footer {
  background-color: #bce0ff;
  min-width: 100%;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
}

div.footer {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}
