<header>
  <nav *ngIf="logado">
    <div class="nav-wrapper deep-purple accent-4">
      <i class="material-icons left arrow-back" (click)="voltar()">arrow_back</i>
      <a class="brand-logo">GTU</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">Cadastrar</a></li>
        <li><a href="">Sobre</a></li>
        <li><a href="">Contato</a></li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer *ngIf="footer">
  <div class="footer">
    <p>App GTU</p>
    <p>© Copyright 2020</p>
  </div>
</footer>
