div.fundo {
  background-color: var(--gtu-roxo-secundaria);
  position: absolute;
  height: 92.2%;
  width: 100%;
  text-align: center;
}

.fundo .btn {
  width: 60%;
  height: 3rem;
  margin-top: 4rem;
}

.iclose {
  font-size: 2.5rem;
  margin-left: 0.75rem;
}

.modal-grupo {
  display: block;
  position: fixed;
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  display: block;
  position: fixed;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  top: 50%;
  overflow: auto;
}

.modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -1rem;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content > .conteudo {
  margin-top: 2rem;
}

.botoes-modal {
  text-align: center;
}

.botoes-modal .btn {
  margin-top: 1.7rem;
}
