/* You can add global styles to this file, and also import other style files */
body {
  --gtu-fonte-primaria: 'Ubuntu', sans-serif;
  --gtu-fonte-secundaria: 'Roboto', sans-serif;
  font-family: var(--gtu-fonte-primaria);
  --gtu-branco: ;
  --gtu-preto-primaria: ;
  --gtu-preto-secundaria: ;
  --gtu-preto-light: ;
  --gtu-roxo-primaria: #6200ea;
  --gtu-roxo-secundaria: #1f004a;
  --gtu-roxo-light: ;
  --gtu-vermelho-primaria: ;
  --gtu-vermelho-secundaria: ;
  --gtu-vermelho-light: ;
  --gtu-azul-primaria: ;
  --gtu-azul-secundaria: ;
  --gtu-azul-light: ;
  --gtu-verde-primaria: ;
  --gtu-verde-secundaria: ;
  --gtu-verde-light: ;
}

.btn {
  border-radius: 1rem;
}
